* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  background-color: lightgoldenrodyellow;
}

.container {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #2f7fb3;
  padding: 3rem 1rem;
  color: orange;
  margin-bottom: 100px;
}

.header h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 50px;
}

.user-input {
  color: rgb(238, 189, 99);
  font-size: 30px;
  border: solid 2px transparent;
  border-bottom: solid 2px orange;
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin-bottom: 70px;
  background-color: transparent;
}

.user-input::placeholder {
  font-size: 20px;
  color: rgb(245, 218, 167);
}

textarea:focus, input:focus{
  outline: none;
}

.search-button {
  color: orange;
  font-size: 20px;
  border: solid 2px #d5e28d;
  background-color:#d5e28d ;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.weather-data {
  color: white;
  background-color: #d5e28d;
  width: 500px;
  margin: 0 auto;
  border-radius: 4px;
  font-weight: 100;
  letter-spacing: 2px;
}

.city-name {
  color: orange;
  font-size: 30px;
  padding-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 100;
}

.weather-emoji {
  text-transform: capitalize;
  font-size: 60px;
}

.weather-temperature {
  font-family:'Segoe UI', Tahoma;
  font-size: 30px;
  margin-top: 30px;
}

.error-text {
  color: orange;
  font-size: 30px;
}

.weather-details-button {
  display: block;
  border: transparent;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: underline;
  letter-spacing: 2px;
  padding-bottom: 20px;
  cursor: pointer;
  color: orange;
  margin: 0 auto;
}

.weather-detail {
  display: inline-block;
  font-family:'Segoe UI', Tahoma;
  font-size: 20px;
  padding-bottom: 20px;
      padding: 1rem;
  }
  .header h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
  }
  .user-input {
    font-size: 20px;
  }
  .search-button {
    font-size: 20px;
    border: solid 2px #d5e28d;
    height: 30px;
    width: 30px;
  }
  .weather-data {
    width: 300px;
  }
  .city-name {
    font-size: 25px
  }
  .weather-emoji {
    font-size: 30px;
  } 

  .footer {
    background: #2f7fb3;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 30px 50px;
    color: orange;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
  }


